@charset 'utf-8';

*{
    margin: 0;
    padding: 0;
}

h2 {
    visibility: hidden;
    position: absolute;
}

#principal {
    width: 100%;
    height: 100%;
    background-color: burlywood;
    position: absolute;
}

#topo {
    width: 100%;
    height: 25%;
    background-color: darkorange;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

#menuSuperior {
    width: 60%;
    height: 20%;
    background-color: darkcyan;
    border-radius: 10vh 0 0 0;
}

#menuSuperior ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    list-style: none;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 2.5vh;
    color: darkorange;
    text-shadow: 1px 1px 5px black;
}

#corpo {
    width: 100%;
    height: 65%;
    background-color: pink;
    display: flex;
}

#menuEsquerdo {
    width: 25%;
    height: 100%;
    background-color: darkcyan;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#menuEsquerdo button {
    width: 70%;
    height: 10%;
    background-color: coral;
    border: none;
}

#conteudoCentral {
    width: 50%;
    height: 100%;
    background-color: blueviolet;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

#conteudoCentral figure {
    width: 19%;
    height: 19%;
    background-color: coral;
}

#conteudoExterno {
    width: 25%;
    height: 100%;
    background-color: darkcyan;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#conteudoExterno div {
    width: 60%;
    height: 30%;
    background-color: coral;
}

#rodape {
    width: 100%;
    height: 10%;
    background-color: #aaa;
}